#HomePage {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-image: url("../../assests/Home-header.png");
  background-size: cover;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
