#HomePage {
  background-image: url("../../assests/Home-header.png");
}

#Footer .social-links {
  max-width: 100%;
  justify-content: center;
  margin: 0;
  padding: 10px 0;
  font-size: 25px
}

#Footer .social-links .social-links-item {
  margin: 0 20px;
}

#Footer .social-links .social-links-item a {
  color: #fff;
}
