.recruitment-page {
    animation: fadeIn 0.6s ease forwards;
}

label {
    color: #fff !important;
    height: fit-content !important;
}

label::after {
    content: "" !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}