.container_card:nth-child(odd) {
    margin: 5% 0% 5% 30%;
}

.container_card:nth-child(even) {
    margin: 5% 0% 5% 15%;
}

.titleE {
    width: 30%;
    margin: 5% 0% 0% 15%;
}

.details_card {
    margin-left: 3%;
}