.container_card1
{
 margin:5% 0% 5% 30%;

}
.container_card2
{
    margin:5% 0% 5% 15%;

}
.container_card3
{
 margin:5% 0% 5% 30%;

}
.titleE
{
    width:30%;
        margin:5% 0% 0% 15%;  
}
.details_card
{
    margin-left:3%;
}